<md-list-item class="md-2-line"
    <a href="#!/pokemons/{{$ctrl.pokemon.objectId }}" class="list-group-item">
      <div class="md-list-item-text" layout="column">
        <img ng-src="./assets/img/card-avatar.png" class="md-avatar" />
          <h3>{{$ctrl.pokemon.name | uppercase }}</h3>
            <h4>{{$ctrl.active }}</h4>
      </div>
    </a>
</md-list-item>
