<div flex-gt-sm="50" flex>
<md-toolbar layout="row" class="md-hue-3">
     <div class="md-toolbar-tools">
       <span>Покемоны</span>
     </div>
   </md-toolbar>
<div class="md-card">
  <md-content>
        <md-list flex>
    <pokemon-list-item pokemon="singlePokemon" ng-repeat="singlePokemon in $ctrl.pokemons"></pokemon-list-item>
        </md-list>
</md-content>
</div>
</div>
